<%= link_to archiving, class: container_class(archiving) do %>
	<%= render archiving.documents, size: :thumb %>

	<h2><%= archiving.title %></h2>

	<%= render 'shared/details', object: archiving %>

	<%= render 'shared/timestamps', object: archiving %>
<% end %>