<% provide( :article, @archiving ) %>

<% if admin_user? %>
	<nav class="admin post_control">
		<%= link_to "Edit Archiving", edit_archiving_path( @archiving ) %>
		<%= link_to "Delete Archiving", archiving_path( @archiving ), method: :delete, data: { confirm: 'Really delete this post?'} %>
		<%= link_to "New Document", new_archiving_document_path( @archiving ) %>
	</nav>
<% end %>

<%= render @documents %>

<h1><%= @archiving.title %></h1>

<p><%= @archiving.content %></p>