<% content_for :header_extension do %>
	/ <%= link_to "Archives", archivings_path %>
	<% if @archiving.trashed? %>
		/ <%= link_to "Trash", trashed_archivings_path %>
	<% end %>
	<% unless (@version ||= nil) %>
		/ <%= link_to @archiving.title, archiving_path(@archiving) %>
	<% else %>
		/ <%= link_to @source.title, archiving_path(@source) %>
		/ <%= link_to "History", archiving_versions_path(@archiving) %>
		/ <%= link_to @version.name, archiving_version_path(@archiving, @version) %>
	<% end %>
<% end %>

<%= render 'archivings/show_control' unless (@version ||= nil) %>
<%= render 'archivings/version_control' if (@version ||= nil) %>

<main>
	<%= render 'archivings/heading' %>

	<p><%= simple_format @archiving.content %></p>

	<%= render 'shared/details', object: @archiving %>

	<%= render 'shared/timestamps', object: @archiving %>

	<%= render @documents unless @version ||= nil %>
</main>