<% content_for :header_extension do %>
	/ <%= link_to "Users", users_path %>
	<% if @user.trashed? %>
		/ <%= link_to "Trash", trashed_users_path %>
	<% end %>
	/ <%= link_to @user.name, user_path(@user) %>
	/ <%= link_to "Sessions", user_sessions_path(@user) %>
	/ <%= link_to @session.name, user_session_path(@user, @session) %>
<% end %>

<% if (authorized_for? @user) %>

	<div class="<%= ( admin_user? ) ? "admin " : "" %>control">
		<%= link_to "Edit Session", edit_user_session_path(@user, @session) %>

		<%= link_to "Delete Session", user_session_path(@user, @session), method: :delete %>
	</div>

<% end %>

<h2><%= @session.name %></h2>

<%= tag.h3 "Last IP Connected: " + @session.ip if @session.ip.present? %>

<%= render 'shared/timestamps', object: @session, activity: true %>