<%= link_to blog_post, class: container_class(blog_post) do %>
	<%= render blog_post.documents, size: :thumb %>

	<h2><%= blog_post.title %></h2>

	<%= render 'shared/details', object: blog_post %>

	<%= render 'shared/timestamps', object: blog_post %>
<% end %>