<% if current_user && current_user.admin? %>
	<nav class="admin_control">
		<%= link_to "Edit Post", edit_blog_post_path( @blog_post ) %>
		<%= link_to "Delete Post", blog_post_path( @blog_post ), method: :delete, data: { confirm: 'Really delete this post?'} %>
	</nav>
<% end %>
<h1><%= @blog_post.title %></h1>
<h2><%= @blog_post.subtitle %></h2>
<p><%= @blog_post.body %></p>