<% content_for :header_extension do %>
	/ <%= link_to "Blogs", blog_posts_path %>
	<% if @blog_post.trashed? %>
		/ <%= link_to "Trash", trashed_blog_posts_path %>
	<% end %>
	/ <%= link_to @blog_post.title, blog_post_path(@blog_post) %>
<% end %>

<div class="<%= (admin_user?) ? "admin " : "" %> control">

	<% if admin_user? && untrashed_user? %>

		<% unless @blog_post.trashed? %>

			<%= link_to "Edit Post", edit_blog_post_path( @blog_post ) %>

		<% end %>

		<%= link_to "Hide Post", hide_blog_post_path( @blog_post ), method: :patch unless @blog_post.hidden? %>
		
		<%= link_to "Show Post", unhide_blog_post_path( @blog_post ), method: :patch if @blog_post.hidden? %>
		
		<%= link_to "Trash Post", trash_blog_post_path( @blog_post ), method: :patch unless @blog_post.trashed? %>
		
		<%= link_to "Restore Post", untrash_blog_post_path( @blog_post ), method: :patch if @blog_post.trashed? %>
		
		<%= link_to "Delete Post", @blog_post, method: :delete, data: { confirm: 'Really delete this post?'} if @blog_post.trashed? %>
		
		<%= link_to "New Document", new_article_document_path( @blog_post ) unless @blog_post.trashed? || trashed_user? || hidden_user? %>

	<% end %>

	<%= link_to "Trashed Documents", trashed_blog_post_documents_path( @blog_post ) %>
	
	<%= link_to "Trashed Comments", trashed_blog_post_comments_path( @blog_post ) %>

</div>

<main>
	<%= render 'heading' %>

	<p><%= simple_format @blog_post.content %></p>

	<%= render 'shared/details', object: @blog_post, new_comment: true %>

	<%= render 'shared/timestamps', object: @blog_post %>

	<%= render @documents %>

	<%= render 'comments/form', comment: @new_comment, form_url: blog_post_comments_path(@blog_post) unless @blog_post.trashed? || trashed_user? || hidden_user? %>

	<%= render @comments %>
</main>