<% if admin_user? %>

	<div class="admin control">
		<%= link_to "Edit Post", edit_blog_post_path( @blog_post ) if untrashed_user? %>
		
		<%= link_to "Trash Post", trash_blog_post_path( @blog_post ) unless @blog_post.trashed? %>
		
		<%= link_to "Restore Post", untrash_blog_post_path( @blog_post ) if @blog_post.trashed? %>
		
		<%= link_to "Delete Post", @blog_post, method: :delete, data: { confirm: 'Really delete this post?'} if @blog_post.trashed? && untrashed_user? %>
		
		<%= link_to "New Document", new_article_document_path( @blog_post ) if untrashed_user? %>
	</div>

<% end %>

<main>
	<%= render 'heading' %>

	<p><%= simple_format @blog_post.content %></p>

	<%= render 'shared/timestamps', object: @blog_post %>

	<%= render @documents %>

	<%= render 'comments/form', comment: @new_comment, form_url: blog_post_comments_path(@blog_post) %>

	<%= render @comments %>
</main>