<% content_for :javascript_include, javascript_include_tag(:expandables) %>

<%= form_for @user do |f| %>

	<div>
		<%= f.label :name, "Username" %>
		<%= f.text_field :name %>
	</div>

	<div>
		<%= f.label :email %>
		<%= f.text_field :email %>
	</div>

	<div>
		<%= f.label :password, "New Password" %>
		<%= f.password_field :password %>
	</div>

	<div>
		<%= f.label :password_confirmation %>
		<%= f.password_field :password_confirmation %>
	</div>

	<% unless @user.persisted? %>

		<div id='toggle_one' class="check_box">
			<%= label_tag :remember, "Remember on login?" %>
			<%= check_box_tag :remember %>
		</div>

		<div id='collapsable_one' class='collapsed'>
			<%= fields_for :session do |session_form| %>

				<div>
					<%= session_form.label :name, "Session Name" %>
					<%= session_form.text_field :name %>
				</div>

				<div class="check_box">
					<%= label_tag :save_ip, "Save IP Address?" %>
					<%= check_box_tag :save_ip %>
					<h4>Your IP: <%= request.remote_ip %></h4>
				</div>

			<% end %>
		</div>

	<% end %>

	<% if @user.persisted? %>

		<div>
			<%= f.label :avatar %>
			<%= f.file_field :avatar, direct_upload: true,accept: 'image/png,image/gif,image/jpeg' %>
		</div>

		<%= render 'avatar', user: @user %>

		<% if @user.avatar.attached? %>

			<div class="check_box">
				<%= label_tag :purge_avatar %>
				<%= check_box_tag :purge_avatar %>
			</div>

		<% end %>

		<div>
			<%= f.label :bio %>
			<%= f.text_area :bio %>
		</div>

	<% end %>

	<%= f.submit submit_text, class: 'submit' %>

<% end %>