<% content_for :header_extension do %>
	/ <%= link_to "Users", users_path %>
	<% if @user.trashed? %>
		/ <%= link_to "Trash", trashed_users_path %>
	<% end %>
	/ <%= link_to @user.name, user_path(@user) %>
<% end %>

<% if (authorized_for? @user) || admin_user? %>

	<div class="<%= ( admin_user? ) ? "admin " : "" %>control">
		<%= link_to "Sessions", user_sessions_path( @user ) %>

		<% if authorized_for? @user %>

			<%= link_to "Edit Profile", edit_user_path( @user ) %>

			<%= link_to "Trash Profile", trash_user_path( @user ) unless @user.trashed? %>

			<%= link_to "Restore Profile", untrash_user_path( @user ) if @user.trashed? %>

			<%= link_to "Delete Profile", @user, method: :delete if admin_user? && @user.trashed? %>

		<% end %>
	</div>

<% end %>

<main>
	<%= render 'heading' %>

	<%= render 'avatar', user: @user, size: :profile %>

	<p><%= simple_format @user.bio %></p>

	<%= render 'shared/timestamps', object: @user, activity: true %>

	<% if @user.forum_posts.any? %>

		<%= render @user.forum_posts %>

	<% end %>

	<%# if @user.comments.any? %>

		<%#= render @user.comments %>

	<%# end %>
</main>