<% if authorized_for? @user %>

	<div class="<%= ( admin_user? ) ? "admin " : "" %>account_control">
		<%= link_to "Edit Profile", edit_user_path( @user ) %>

		<%= link_to "Delete Profile", @user, method: :delete %>
	</div>

<% end %>

<h1><%= @user.name.possessive %> Account</h1>

<h3><%= @user.email %></h3>

<% if @user.forum_posts.any? %>

	<%= render @user.forum_posts %>

<% end %>

<%# if @user.comments.any? %>

	<%#= render @user.comments %>

<%# end %>