<h4 class="subtle">
	<% if (activity ||= nil) %>

		Last active: <%= (object.last_active.present?) ? object.last_active.to_datetime.to_formatted_s(:long_ordinal) : "Never" %>

	<% else %>
			
		<% if object.created_at ||= nil %>

			<%= ( (create_alias ||= nil) || "Posted" ) + ( (owner ||= nil) ? " by #{owner}" : "" ) %>
			on

			<%= (date_time ||= nil) ? object.created_at.to_datetime.to_formatted_s(:long_ordinal) : object.created_at.to_date %>.

		<% end %>

		<% if object.respond_to?(:edited?) && object.edited? %>

			Last <%= (edit_alias ||= nil) || "edited" %>
			on
			<%= (date_time ||= nil) ? object.updated_at.to_datetime.to_formatted_s(:long_ordinal) : object.updated_at.to_date %>.

		<% end %>

	<% end %>

	<% if object.respond_to?(:trashed?) && object.trashed? %>

		Currently trashed.

	<% end %>
</h4>