<% unless (size ||= nil) %>

	<%= link_to article_document_path(document.article, document), class: container_class(document) do %>
			
		<h2><%= document.title %></h2>
		
		<%= render 'documents/upload', document: document %>

		<%= render 'shared/timestamps', object: document %>

	<% end %>

<% else %>

	<%= render 'documents/upload', document: document, size: size %>
	
<% end %>