<div class="document container">
	
	<h2><%= link_to document.title, article_document_path( document.article, document ) %></h2>
	
	<% if document.upload.attached? %>

		<% if document.upload.image? %>

			<%= image_tag url_for(document.upload) %>

		<% elsif document.upload.audio? %>

			<%= audeo_tag url_for(document.upload), controls: true %>

		<% elsif document.upload.video? %>

			<%= video_tag url_for(document.upload), controls: true %>

		<% else %>

			<%= link_to "File Detected: Unknown Filetype", url_for(document.upload) %>

		<% end %>

	<% else %>

		<p>This document is missing its attachment.</p>

	<% end %>
	
</div>