<% content_for :header_extension do %>
	/ <%= articles_path(@article, link: true) %>
	<% if @article.trashed? %>
		/ <%= trashed_articles_path(@article, link: true) %>
	<% end %>
	/ <%= article_path(@article, link: true) %>
	<% unless @version ||= nil %>
		<% if @document.trashed? %>
			/ <%= trashed_article_documents_path(@article, link: true) %>
		<% end %>
		/ <%= article_document_path(@article, @document, link: true) %>
	<% else %>
		/ <%= link_to @source.title, archiving_document_path(@article, @source) %>
		/ <%= link_to "History", archiving_document_versions_path(@article, @source) %>
		/ <%= link_to @version.name, archiving_document_version_path(@article, @source, @version) %>
	<% end %>
<% end %>

<%= render 'documents/show_control' unless @version ||= nil %>
<%= render 'documents/version_control' if @version ||= nil %>

<%= render 'documents/heading' %>

<%= render 'documents/upload', document: @document %>

<% if @document.content.present? %>

	<p><%= simple_format @document.content %></p>

<% end %>

<%= render 'shared/timestamps', object: @document %>
