<% if admin_user? && untrashed_user? %>

	<div class="admin control">
		<%= link_to "Edit Document", edit_article_document_path( @article, @document ) %>

		<%= link_to "Trash Document", trash_article_document_path( @article, @document ) unless @document.trashed? %>

		<%= link_to "Restore Document", untrash_article_document_path( @article, @document ) if @document.trashed? %>

		<%= link_to "Delete Document", article_document_path( @article, @document ), method: :delete, data: { confirm: 'Really delete this document?'} if @document.trashed? %>
	</div>

<% end %>

<%= render 'heading' %>

<%= render 'upload', document: @document %>

<p><%= simple_format @document.content if @document.content.present? %></p>

<%= render 'shared/timestamps', object: @document %>