<%= form_for @forum_post do |f| %>

	<div>
		<%= f.label :title %>
		<%= f.text_field :title %>
	</div>

	<div>
		<%= f.label :content %>
		<%= f.text_area :content %>
	</div>

	<% if admin_user? %>

		<div class="check_box">
			<%= f.label :motd, "Make this a motd?" %>
			<%= f.check_box :motd %>
		</div>

		<div class="check_box">
			<%= f.label :sticky, "Make this a sticky?" %>
			<%= f.check_box :sticky %>
		</div>

	<% end %>

	<%= f.submit submit_text, class: 'submit' %>

<% end %>