<% if authorized_for? @forum_post.user %>

	<div class="<%= ( admin_user? ) ? "admin " : "" %>control">
		<%= link_to "Edit Post", edit_forum_post_path( @forum_post ) if untrashed_user? %>

		<%= link_to "Trash Post", trash_forum_post_path( @forum_post ) unless @forum_post.trashed? %>

		<%= link_to "Restore Post", untrash_forum_post_path( @forum_post ) if @forum_post.trashed? %>

		<%= link_to "Delete Post", @forum_post, method: :delete, data: { confirm: 'Really delete this post?'} if @forum_post.trashed? && admin_user? && untrashed_user? %>
	</div>

<% end %>

<main>
	<%= render 'heading' %>

	<p><%= simple_format @forum_post.content %></p>
	
	<%= render 'shared/details', object: @forum_post %>

	<%= render 'shared/timestamps', object: @forum_post, owned: true %>

	<%= render 'comments/form', comment: @new_comment, form_url: forum_post_comments_path(@forum_post) %>

	<%= render @comments %>
</main>