<% content_for :header_extension do %>
	<% if @citation.class == Archiving %>
		/ <%= link_to "Archives", archivings_path %>
		<% if @citation.trashed? %>
			/ <%= link_to "Trash", trashed_archivings_path %>
		<% end %>
		/ <%= link_to @citation.title, archiving_path(@citation) %>
	<% else %>
		/ <%= link_to "Archives", archivings_path %>
		<% if @citation.article.trashed? %>
			/ <%= link_to "Trash", trashed_archivings_path %>
		<% end %>
		/ <%= link_to @citation.article.title, archiving_path(@citation.article) %>
		<% if @citation.trashed? %>
			/ <%= link_to "Trashed Documents", trashed_archiving_documents_path(@citation.article) %>
		<% end %>
		/ <%= link_to @citation.title, archiving_document_path(@citation) %>
	<% end %>
	/ <%= link_to "Suggestions", citation_suggestions_path(@citation) %>
	<% if @suggestion.trashed? %>
		/ <%= link_to "Trash", trashed_citation_suggestions_path(@citation) %>
	<% end %>
	/ <%= link_to @suggestion.name, citation_suggestion_path(@citation, @suggestion) %>
<% end %>

<div class="<%= ( admin_user? ) ? "admin " : "" %>control">

	<% if authorized_for?(@suggestion.user) && untrashed_user? %>

		<%= link_to "Edit Post", edit_citation_suggestion_path( @citation, @suggestion ) unless @suggestion.trashed? %>

		<%= link_to "Hide Post", hide_citation_suggestion_path( @citation, @suggestion ), method: :patch unless @suggestion.hidden? %>

		<%= link_to "Show Post", unhide_citation_suggestion_path( @citation, @suggestion ), method: :patch if @suggestion.hidden? %>

		<%= link_to "Trash Post", trash_citation_suggestion_path( @citation, @suggestion ), method: :patch unless @suggestion.trashed? %>

		<%= link_to "Restore Post", untrash_citation_suggestion_path( @citation, @suggestion ), method: :patch if @suggestion.trashed? %>

		<% if admin_user? %>

			<%= link_to "Merge Post", merge_citation_suggestion_path( @citation, @suggestion ), method: :patch, data: { confirm: 'Really merge this suggestion?' } unless @suggestion.trashed? || @citation.trashed? %>

			<%= link_to "Delete Post", citation_suggestion_path( @citation, @suggestion ), method: :delete, data: { confirm: 'Really delete this suggestion?'} if @suggestion.trashed? %>

		<% end %>

	<% end %>

	<%= link_to "Trashed Comments", trashed_citation_suggestion_comments_path( @citation, @suggestion ) %>

</div>

<main>
	<%#= render 'heading' %>

	<% if @suggestion.title.present? %>
		<div class="diff">
			<%= simple_format "<del><span class='symbol'>-</span>#{@citation.title}</del>", {}, wrapper_tag: 'h1' %>
			<%= simple_format "<ins><span class='symbol'>+</span>#{@suggestion.title}</ins>", {}, wrapper_tag: 'h1' %>
		</div>
	<% else %>
		<h1><%= @citation.title %></h1>
	<% end %>

	<% if @suggestion.content.present? %>
		<%= simple_format formatted_diff(@citation.content, @suggestion.content), {class: "diff"}, wrapper_tag: 'div' %>
	<% else %>
		<%= simple_format @citation.content %>
	<% end %>

	<%= render 'shared/timestamps', object: @suggestion, owner: (@suggestion.owned? ? @suggestion.user.name : nil) %>

	<%= render 'shared/details', object: @suggestion, new_comment: true %>

	<%= render 'comments/form', comment: @new_comment, form_url: citation_suggestion_comments_path( @citation, @suggestion ) unless @suggestion.trashed? || @suggestion.citation_or_article_trashed? || trashed_user? || hidden_user? %>

	<%= render @comments %>
</main>