<% content_for :header_extension do %>
	<% if @citation.class == Archiving %>
		/ <%= link_to "Archives", archivings_path %>
		<% if @citation.trashed? %>
			/ <%= link_to "Trash", trashed_archivings_path %>
		<% end %>
		/ <%= link_to @citation.title, archiving_path(@citation) %>
	<% else %>
		/ <%= link_to "Archives", archivings_path %>
		<% if @citation.article.trashed? %>
			/ <%= link_to "Trash", trashed_archivings_path %>
		<% end %>
		/ <%= link_to @citation.article.title, archiving_path(@citation.article) %>
		<% if @citation.trashed? %>
			/ <%= link_to "Trashed Documents", trashed_archiving_documents_path(@citation.article) %>
		<% end %>
		/ <%= link_to @citation.title, citation_path(@citation) %>
	<% end %>
	/ <%= link_to "Suggestions", citation_suggestions_path(@citation) %>
	/ <%= link_to "Trash", trashed_citation_suggestions_path(@citation) %>
<% end %>

<main>
	<%= (render @suggestions) || (tag.h2 "#{ (admin_user?) ? "There are currently" : "You have"} no trashed Suggestions for this #{params[:citation_class]}.") %>
</main>