<h1>The Railroad:  Your IP: <%= request.remote_ip %></h1>

<nav>
	<%= link_to "Dashboard", root_path %>

	<%= link_to "About", about_path %>

	<%= link_to "Blog", blog_posts_path %>

	<%= link_to "Archive", archivings_path %>

	<%= link_to "Forum", forum_posts_path %>

	<%= link_to "Users", users_path %>

	<div class="status_control">
		<% if logged_in? %>
		
			<%= link_to "Log out", logout_path %>

			<%= link_to current_user.name, user_path( current_user ), class: "account_link" %>

			<%#= render 'users/avatar', user: current_user, size: :icon, link: true %>
		
		<% else %>
		
			<%= link_to "Sign up", signup_path %>

			<%= link_to "Log in", login_path %>
		
		<% end %>
	</div>
</nav>

<% if flash.any? %>

	<ul class="flash">
		<% flash.each do |key, msg| %>

			<li class="<%= key %>"><%= key.capitalize %>: <%= msg %></li>

		<% end %>
	</ul>

	<hr>

<% end %>